/*
Comment
*/


h1{
    font-family: 'TH SarabunPSK',Arial,sans-serif;
    font-size: 16;
    color: blue;
}
.myfont{
    font-family: 'Times New Roman', Times, serif;
} 
.coRed{
    color: #ff2fff;
    color: rgb(0,255,0);
    color: hsl(9, 50%, 50%);
}
.h1{
    font-size: 16pt;
}
#myP{
    font-size: 48pt;
}
hr{
    color: red ;
    border: 2px solid;
} /*hr เส้น*/

.box{
    width: 400px;
    height: 400px;
    color: rgb(88, 90, 88);;
    background-color: #ff2fff;
    text-align: center;
    border: 5px dashed rgb(0, 255, 0);
    padding-top: 10px;
    margin: 50px 25px;
}
.box:hover{
    background-color: rgb(88, 90, 88);;
}
a{
    color: #010101;
}
a:link{
    color: #ff0000;
}